<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restauran.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restauran.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restauran.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restauran.website %>
</p>

<%= link_to 'Edit', edit_restauran_path(@restauran), class: "btn btn-link" %> |
<%= link_to 'Back', restaurans_path, class: "btn btn-link" %>
